<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Popaganda Accreditation</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

    <body>
        <div class="container">
            <h1>Apply for Popaganda Accreditation</h1>

            <form action="/" method="POST">
                <div class="form-group">
                    <label for="id_first_name">First Name</label>
                    <input id="id_first_name" class="form-control" name="first_name" placeholder="First Name" required/>
                </div>
                <div class="form-group">
                    <label for="id_last_name">Last Name</label>
                    <input id="id_last_name" class="form-control" name="last_name" placeholder="Last Name" required/>
                </div>
                <div class="form-group">
                    <label for="type_of_accreditation">Type of accreditation</label>
                    <select class="form-control" id="type_of_accreditation" name="type_of_accreditation" required>
                        <option id="empty" value="" selected></option>
                        <option id="photo" value="photo">Photo Pass</option>
                        <option id="festival" value="festival">Festival Pass</option>
                        <option id="jounalist" value="jounalist">Journalist Pass</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_application">Application Text</label>
                    <textarea id="id_application" class="form-control" rows="3" name="application" placeholder="Futher information" required/></textarea>
                </div>
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input id="id_email" type="email" class="form-control" name="email" placeholder="Email" required/>
                </div>
                <div class="form-check">
                    <input id="id_terms" type="checkbox" class="form-check-input" name="terms" required>
                    <label class="form-check-label" for="id_terms"> I agree to  <a href="/terms-conditions/">Terms and Conditions</a> </label>
                </div>
                <button id='send_button' type="submit" class="btn btn-primary">Submit</button>
                {% csrf_token %}
            </form>
        </div>
    </body>
</html>
