<html>
    <head>
        <title>Application Accepted</title>
    </head>
    <body>
        {% if error %}
          <div class="form-group has-error">
            <p>Your application was not sent due to the following errors:</p>
            <p>{{ error }}</p>
          </div>
        {% else %}
        <h1>Your application has been accepted</h1>
        <p id='id_user_info'>{{ first_name }} {{ last_name }} an email with further information was sent to {{ email }}</p>
        {% endif %}
    </body>
</html>
